body {
    margin: 0;
    font-family: monospace, arial, sans-serif;
    background-color: #fae281;
}

.topnav {
    overflow: hidden;
    background-color: #76daf8;
}

.topnav a {
    float: left;
    color: #c768ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #f59797;
    color: black;
}

.topnav a.active {
    background-color: #f7da67;
    color: black;
}